[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body, #main {
  height: 100%;
}

body {
  background: #f8f8f8 url(../img/pattern.jpg);
  text-align: left;
  padding: 50px 0 0;
  font: 300 15px 'Open Sans', sans-serif;
  color: #233362;
}

b,
strong {
  font-weight: 500;
}

h1 {
  font-weight: 300;
  font-size: 48px;
}

/*#main {
  background-image: url(../img/bg-left.png), url(../img/bg-right.png);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
}*/

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 50px;
}
.site-footer {
  text-align: center;
  background: rgba(187, 238, 56, 0.27) url(../img/pattern-2.png);
  line-height: 50px;
  color: #233362;
  font-weight: 300;
}

#mainLoader {
  margin-top: 30px;
}

.group {
  padding-bottom: 50px;
}
.group h4 {
  text-transform: uppercase;
}

input.score {
  width: 40px;
  text-align: center;
  background: transparent;
  border: 1px solid black;
}
input.score[readonly] {
  width: 30px;
  border: none;
}

[contenteditable] {
  display: inline-block;
  border: 1px solid black;
  width: 30px;
  text-align: center;
}
[contenteditable]:focus {
  outline: none;
  border-color: #0e5899;
  color: #0e5899;
}

section[rel="home"] {
  text-align: center;
}

.timer-wrapper {
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
  color: #fff;
  margin: 50px 0;
}

.timer-wrapper .days-wrapper,
.timer-wrapper .hours-wrapper,
.timer-wrapper .minutes-wrapper,
.timer-wrapper .seconds-wrapper {
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: 0 10px;
  padding-top: 20px;
  background: #2d2d2d; /* browsers that don't support rgba */
  background: rgba(45,45,45,.7);
  font-size: 16px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  cursor: default;
}

.timer-wrapper .days-wrapper:hover,
.timer-wrapper .hours-wrapper:hover,
.timer-wrapper .minutes-wrapper:hover,
.timer-wrapper .seconds-wrapper:hover {
  background: #3b982a url(../img/pattern-2.png);
  text-shadow: none;
}

.timer-wrapper .days,
.timer-wrapper .hours,
.timer-wrapper .minutes,
.timer-wrapper .seconds {
  font-size: 60px;
  line-height: 70px;
}

.match-id {
  font-size: 28px;
  font-weight: 300;
  width: 60px;
}

team {
  display: block;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
  position: relative;
  padding-left: 50px;
  text-align: left;
}
team.away {
  text-align: right;
  padding-left: 0;
  padding-right: 50px;
}
team img {
  width: 45px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15px;
}
team.away img {
  left: auto;
  right: 0;
}

.loader {
  margin: 5px auto 0;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(27, 151, 89, 0.2);
  border-right: 5px solid rgba(27, 151, 89, 0.2);
  border-bottom: 5px solid rgba(27, 151, 89, 0.2);
  border-left: 5px solid #33DD8B;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  pointer-events: none;
}
.btn.loader,
.btn.loader:focus {
  outline: none;
  padding: 0;
  background-color: transparent;
  border-top: 5px solid rgba(27, 151, 89, 0.2);
  border-right: 5px solid rgba(27, 151, 89, 0.2);
  border-bottom: 5px solid rgba(27, 151, 89, 0.2);
  border-left: 5px solid #33DD8B;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



/**
 * Bootstrap overwrite
 */
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-weight: 300;
  font-size: 20px;
  display: block;
}
.navbar {
  margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
  vertical-align: middle;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th {
  color: #27bc5f;
  font-size: 13px;
}
.table-responsive > .table > thead > tr > th.match-result,
.table-responsive > .table > tbody > tr > th.match-result,
.table-responsive > .table > tfoot > tr > th.match-result,
.table-responsive > .table > thead > tr > td.match-result,
.table-responsive > .table > tbody > tr > td.match-result,
.table-responsive > .table > tfoot > tr > td.match-result {
  width: 110px;
  white-space: nowrap;
}
.table-responsive > .table > thead > tr > th.match-info,
.table-responsive > .table > tbody > tr > th.match-info,
.table-responsive > .table > tfoot > tr > th.match-info,
.table-responsive > .table > thead > tr > td.match-info,
.table-responsive > .table > tbody > tr > td.match-info,
.table-responsive > .table > tfoot > tr > td.match-info {
  width: 350px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #bg {
    background-size: 50% auto;
  }
  h1 {
    font-size: 36px;
  }
  h1 small,
  .h1 small,
  h2 small,
  .h2 small,
  h3 small,
  .h3 small,
  h1 .small,
  .h1 .small,
  h2 .small,
  .h2 .small,
  h3 .small,
  .h3 .small {
    font-size: 18px;
  }

  .timer-wrapper {
    color: #233362;
  }
  .timer-wrapper .days-wrapper,
  .timer-wrapper .hours-wrapper,
  .timer-wrapper .minutes-wrapper,
  .timer-wrapper .seconds-wrapper {
    width: auto;
    height: auto;
    padding-top: 0;
    background: transparent;
    font-size: 14px;
    text-shadow: none;
  }
  .timer-wrapper .days-wrapper:hover,
  .timer-wrapper .hours-wrapper:hover,
  .timer-wrapper .minutes-wrapper:hover,
  .timer-wrapper .seconds-wrapper:hover {
    background: transparent;
  }
  .timer-wrapper .days,
  .timer-wrapper .hours,
  .timer-wrapper .minutes,
  .timer-wrapper .seconds {
    font-size: 24px;
    line-height: initial;
  }

}
