<section rel="home">
  <h1>TOURNAMENT STARTS IN</h1>
  <timer end-time="startTime">
    <div class="timer-wrapper">
      <div class="days-wrapper">
          <span class="days">{{days}}</span> <br>day{{daysS}}
      </div>
      <div class="hours-wrapper">
          <span class="hours">{{hours}}</span> <br>hour{{hoursS}}
      </div>
      <div class="minutes-wrapper">
          <span class="minutes">{{minutes}}</span> <br>minute{{minutesS}}
      </div>
      <div class="seconds-wrapper">
          <span class="seconds">{{seconds}}</span> <br>second{{secondsS}}
      </div>
    </div>
  </timer>
</section>
