<section rel="second-stage" ng-controller="MatchesCtrl">
  <section class="stage row">
    <h3 class="col-md-12">Round of 16</h3>
    <section class="col-md-12" ng-repeat="(date, matches) in Roundof16">
      <h4>{{date}}</h4>
      <matches-list matches="matches"></matches-list>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Quarter Finals</h3>
    <section class="col-md-12" ng-repeat="(date, matches) in QuarterFinals">
      <h4>{{date}}</h4>
      <matches-list matches="matches"></matches-list>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Semi Finals</h3>
    <section class="col-md-12" ng-repeat="(date, matches) in SemiFinals">
      <h4>{{date}}</h4>
      <matches-list matches="matches"></matches-list>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Play-off For Third Place</h3>
    <section class="col-md-12" ng-repeat="(date, matches) in PlayoffForThirdPlace">
      <h4>{{date}}</h4>
      <matches-list matches="matches"></matches-list>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Final</h3>
    <section class="col-md-12" ng-repeat="(date, matches) in Final">
      <h4>{{date}}</h4>
      <matches-list matches="matches"></matches-list>
    </section>
  </section>
</section>
