<section class="clearfix" rel="home" ng-controller="HomeCtrl">
  <h1>Gambeta.me<br/><small>Let your friends see how much you know about the worldcup.</small></h1>
  <h3>Next Matches</h3>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr ng-repeat="match in nextMatches">
          <td class="match-info">
            <strong>
              Time left:
              <timer end-time="match.date">
                <span class="days" ng-if="days">{{ddays}} : </span>
                <span class="hours">{{hhours}} : </span>
                <span class="minutes">{{mminutes}} : </span>
                <span class="seconds">{{sseconds}}</span>
              </timer>
            </strong><br/>
            <time datetime="match.date"></time><br/>
            <venue rel="match.location"></venue>
          </td>
          <td class="match-id" ng-if="match.stage == 'Group Stage'">
            <span class="nowrap">GROUP {{teams[match.teams.home.team].group | uppercase}}</span>
          </td>
          <td><team class="home" rel="match.teams.home.team"></team></td>
          <td class="text-center match-result">
            <div>
              <input type="number" min="0" class="score" ng-model="match.teams.home.goals" ng-hide="simpleMode" ng-readonly="match.date.getTime() <= currentDate || !currentUser" />
              <input type="radio" value="home" name="match{{match.id}}" ng-checked="match.teams.home.goals > match.teams.away.goals" ng-show="simpleMode" ng-click="selectWinner($event)" ng-readonly="match.date.getTime() <= currentDate || !currentUser" />
              -
              <input type="number" min="0" class="score" ng-model="match.teams.away.goals" ng-hide="simpleMode" ng-readonly="match.date.getTime() <= currentDate || !currentUser" />
              <input type="radio" value="away" name="match{{match.id}}" ng-checked="match.teams.away.goals > match.teams.home.goals" ng-show="simpleMode" ng-click="selectWinner($event)" ng-readonly="match.date.getTime() <= currentDate || !currentUser" />
            </div>
            <div ng-hide="simpleMode" ng-if="match.stage != 'Group Stage' && (match.teams.home.goals == 0 && match.teams.away.goals == 0 || match.teams.home.goals > 0 && match.teams.away.goals > 0) && match.teams.home.goals == match.teams.away.goals">
              Penalties<br/>
              <input type="radio" value="home" name="match{{match.id}}" ng-checked="match.teams.home.penalty" ng-click="selectWinnerPenalties($event)" ng-readonly="match.date.getTime() <= currentDate || !currentUser" />
              -
              <input type="radio" value="away" name="match{{match.id}}" ng-checked="match.teams.away.penalty" ng-click="selectWinnerPenalties($event)" ng-readonly="match.date.getTime() <= currentDate || !currentUser" />
            </div>
          </td>
          <td><team class="away" rel="match.teams.away.team"></team></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" ng-class="{loader: saving}" class="btn btn-success pull-right" ng-disabled="disabled" ng-click="save()">Save</button>

  <div class="col-md-12 alignCenter">
    <div ng-hide="currentUser">
      <p class="lead">
        Sign in to start placing your bets* with friends.<br/>
      </p>
      <p>
        <a class="btn btn-social btn-facebook" ng-click="login()" ng-class="{loader: loading}">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>
      </p>
      <small><small>* Virtual bets, no real money is involved.</small></small>
    </div>
    <div ng-show="currentUser">
      <a href="/groupings" class="btn btn-default btn-lg">Bet with friends</a>
    </div>
  </div>
</section>
