<section rel="home" ng-controller="HomeCtrl">
  <h1>Gambeta.me<br/><small>Let your friends see how much you know about the worldcup.</small></h1>
  <timer end-time="endTime">
    <div class="timer-wrapper">
      <div class="days-wrapper">
        <div class="days">{{days}}</div>day{{daysS}}
      </div>
      <div class="hours-wrapper">
        <div class="hours">{{hours}}</div>hour{{hoursS}}
      </div>
      <div class="minutes-wrapper">
        <div class="minutes">{{minutes}}</div>minute{{minutesS}}
      </div>
      <div class="seconds-wrapper">
        <div class="seconds">{{seconds}}</div>second{{secondsS}}
      </div>
    </div>
  </timer>

  <div class="col-md-8 col-md-offset-2">
    <div ng-hide="currentUser">
      <p class="lead">
        Sign in to start placing your bets* with friends.<br/>
      </p>
      <p>
        <a class="btn btn-social btn-facebook" ng-click="login()" ng-class="{loader: loading}">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>
      </p>
      <small><small>* Virtual bets, no real money is involved.</small></small>
    </div>
    <div ng-show="currentUser">
      <a href="/groupings" class="btn btn-default btn-lg">My Groupings</a>
    </div>
  </div>
</section>
