<section rel="knockout-round" ng-controller="KnockoutRoundCtrl">
  <section class="stage row">
    <h3 class="col-md-12">Round of 16</h3>
    <section class="col-md-12">
      <matches-list matches="Roundof16"></matches-list>
      <button type="button" ng-class="{loader: saving}" class="btn btn-success pull-right" ng-disabled="disabled" ng-click="save()" ng-show="currentUser">Save</button>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Quarter Finals</h3>
    <section class="col-md-12">
      <matches-list matches="QuarterFinals"></matches-list>
      <button type="button" ng-class="{loader: saving}" class="btn btn-success pull-right" ng-disabled="disabled" ng-click="save()" ng-show="currentUser">Save</button>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Semi Finals</h3>
    <section class="col-md-12">
      <matches-list matches="SemiFinals"></matches-list>
      <button type="button" ng-class="{loader: saving}" class="btn btn-success pull-right" ng-disabled="disabled" ng-click="save()" ng-show="currentUser">Save</button>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Play-off For Third Place</h3>
    <section class="col-md-12">
      <matches-list matches="PlayoffForThirdPlace"></matches-list>
      <button type="button" ng-class="{loader: saving}" class="btn btn-success pull-right" ng-disabled="disabled" ng-click="save()" ng-show="currentUser">Save</button>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Final</h3>
    <section class="col-md-12">
      <matches-list matches="Final"></matches-list>
      <button type="button" ng-class="{loader: saving}" class="btn btn-success pull-right" ng-disabled="disabled" ng-click="save()" ng-show="currentUser">Save</button>
    </section>
  </section>
</section>
