<section rel="second-stage" ng-controller="SecondStageCtrl">
  <section class="stage row">
    <h3 class="col-md-12">Round of 16</h3>
    <section class="col-md-12">
      <matches-list matches="Roundof16"></matches-list>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Quarter Finals</h3>
    <section class="col-md-12">
      <matches-list matches="QuarterFinals"></matches-list>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Semi Finals</h3>
    <section class="col-md-12">
      <matches-list matches="SemiFinals"></matches-list>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Play-off For Third Place</h3>
    <section class="col-md-12">
      <matches-list matches="PlayoffForThirdPlace"></matches-list>
    </section>
  </section>
  <section class="stage row">
    <h3 class="col-md-12">Final</h3>
    <section class="col-md-12">
      <matches-list matches="Final"></matches-list>
    </section>
  </section>
</section>
