<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>TEAM</th>
        <th class="tac">MP</th>
        <th class="tac">W</th>
        <th class="tac">D</th>
        <th class="tac">L</th>
        <th class="tac">GF</th>
        <th class="tac">GA</th>
        <th class="tac">PTS</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in data.standings | orderStandings">
        <td><team rel="team.name"></team></td>
        <td class="tac"><input type="text" class="score" ng-model="team.mp" readonly /></td>
        <td class="tac"><input type="text" class="score" ng-model="team.w" readonly /></td>
        <td class="tac"><input type="text" class="score" ng-model="team.d" readonly /></td>
        <td class="tac"><input type="text" class="score" ng-model="team.l" readonly /></td>
        <td class="tac"><input type="text" class="score" ng-model="team.gf" readonly /></td>
        <td class="tac"><input type="text" class="score" ng-model="team.ga" readonly /></td>
        <td class="tac"><input type="text" class="score" ng-model="team.pts" readonly /></td>
      </tr>
    </tbody>
  </table>
</div>
